header {
    width: 100%;
    background: black url('../../Assisstest/img/header.png') no-repeat center / cover;
    padding-top: 20px;
}

header .header-title {
    width: 100%;
}

header .header-title h1.top {
    font-size: 100px;
    color: white;
    margin-bottom: 0px;
    padding-top: 160px;
    padding-bottom: 40px;
}

header .header-title h1.top img {
    width: 300px;
    height: 100px;
    margin-top: -15px;
    border-radius: 50px;
}


header .header-title .box-bottom {
    display: flex;
    grid-gap: 30px;
    align-items: center;
    padding-bottom: 50px;
}

header .header-title .box-bottom a {
    text-align: center;
    background: #fe9e3f;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    width: 300px;
    height: 175px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .header-title .box-bottom a svg {
    display: flex;
    justify-content: center;
    transition: .3s;
}

header .header-title .box-bottom a:hover svg {
    cursor: pointer;
    transition: .3s;
    transform: rotate(50deg);
}


header .header-title .box-bottom p.bottom {
    color: #ffffffcc;
    margin-bottom: 0px;
    font-size: 16px;
}

header .header-title .corusel {
    padding-bottom: 60px;
}

header p.slide{
    color: #969696;
    font-size: 25px;
    margin-bottom: 0px;
    text-align: center;
}
@media(max-width:1199px){
    header p.slide{
        font-size: 20px;
    }
    header .header-title .corusel{
        padding-bottom: 40px;
    }
    header .header-title h1.top{
        font-size: 95px;
        text-align: center;
    }
    header .header-title h1.top img{
        width: 300px;
    }
}

@media(max-width:991px){
    header .header-title .box-bottom a{
        width: 70%;
        height: 150px;
    }
    .mySwiper .swiper-backface-hidden .swiper-slide{
        width: 20% !important;
    }
    header .header-title h1.top{
        font-size: 70px;
        padding-top: 100px;
    }
    header .header-title h1.top img{
        width: 250px;
        height: 80px;
    }
}
@media(max-width:767px){
    header .header-title h1.top{
        font-size: 55px;
    }
    header .header-title h1.top img{
        width: 200px;
    }
    .mySwiper .swiper-backface-hidden .swiper-slide{
        width: 28% !important;
        margin-right: 30px !important;
    }
    header .header-title .box-bottom a{
        padding: 25px 20px;
    }
    header .header-title .corusel{
        padding-bottom: 30px;
    }
}
@media(max-width:575px){
    header .header-title h1.top{
        font-size: 35px;
    }
    header .header-title h1.top img{
        width: 100px;
        height: unset;
    }
    header .header-title .box-bottom{
        flex-direction: column;
        padding-bottom: 30px;
    }
    header .header-title .box-bottom p.bottom{
        font-size: 13px;
        text-align: center;
    }
    .mySwiper .swiper-backface-hidden .swiper-slide{
        width: 35% !important;
        margin-right: 10px !important;
    }
    header p.slide{
        font-size: 13px;
    }
}